<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <AuthorizeView>
                <Authorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                    </LayoutView>
                </Authorized>

                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p>Please log in to see content.</p>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
