@page "/solve/{type?}"
@model BoundBoxApp.Pages.Bounds.SolveModel
@using BoundBoxApp.Model
@using BoundBoxApp.Pages.Bounds

<h2>Annotate</h2>
<div>
    <a class="btn btn-secondary p-2 mr-2" href="/solve/marking">New Image for Object Detection</a>
    <a class="btn btn-secondary p-2" href="/solve/category">New Image for Classification</a>
</div>


@if (ViewData["Project"] != null && ViewData["Image"] != null)
{
    var project = ViewData["Project"] as Project;
    var image = ViewData["Image"] as Image;

    @if (project.IsForObjectDetection)
    {
        <h3>Title: @project.Title</h3>

        @(await Html.RenderComponentAsync<AnnotationCanvas>(RenderMode.Server, new { ImageSrc = image.Src, Categories = ViewData["Categories"] }))

        <form method="post" asp-route-returnUrl="/solve">
            <input asp-for="Input.ImageId" type="hidden" value="@image.Id" />

            <button type="submit" class="btn btn-primary my-2">Submit Annotation</button>
        </form>
    }
    @if (!project.IsForObjectDetection)
    {
        <h3>Title: @project.Title</h3>
        <br />

        <div class="w-100 mb-2">
            <img src="@image.Src" class="w-100"/>
        </div>

        <form method="post" asp-route-returnUrl="/solve">
            <input asp-for="Input.ImageId" type="hidden" value="@image.Id" />
            <select asp-for="Input.Category" class="form-control" required>
                @foreach ( string category in @ViewData["Categories"] as List<string>)
                {
                    <option value="@category">@category</option>
                }
            </select>

            <button type="submit" class="btn btn-primary my-2">Submit Annotation</button>
        </form>
    }

}
@if (ViewData["Project"] == null && Model.IsFetched)
{
    <p>No projects found</p>
}

